<?xml version="1.0" encoding="utf-8"?>
<launch>
  <rosparam command="load" file="/home/ssr/ros_kinetic/rmc_dev_ws/src/2018_robot/launch/testing/aruco/params.yaml" />
  <group ns="elp_test">
    <node pkg="libuvc_camera" type="camera_node" name="elp_test_camera"/>
    <node pkg="image_proc" type="image_proc" name="elp_test_proc" />

    <include file="/home/ssr/ros_kinetic/rmc_dev_ws/src/2018_robot/launch/components/aruco/single_marker_tracker.launch">
      <arg name="node_name" value="aruco_node_415" />
      <arg name="image_rect_topic" value="image_rect_color"/>
      <arg name="camera_info_topic" value="camera_info"/>
    </include>

    <include file="/home/ssr/ros_kinetic/rmc_dev_ws/src/2018_robot/launch/components/aruco/single_marker_tracker.launch">
      <arg name="node_name" value="aruco_node_909" />
      <arg name="image_rect_topic" value="image_rect_color"/>
      <arg name="camera_info_topic" value="camera_info"/>
    </include>
  </group>
  <node name="visualizer" pkg="rviz" type="rviz" args="-d /home/ssr/ros_kinetic/rmc_dev_ws/src/2018_robot/launch/testing/aruco/aruco.rviz" />

</launch>
