<launch>
    <master auto="start" />
    <rosparam file="$(find robot_config)/globals/multi_bot_stage_map_server_fake_localization.yaml" command="load" />

    <arg name="stage_sim" default="multi_bot_obstacles" />

    <include file="$(find ssr_stage)/launch/$(arg stage_sim).launch"/>

    <arg name="map_file1"    default="stage_no_holes.yaml" />
    <arg name="map_file2"    default="stage_obstacles.yaml" />

    <node pkg="map_server" type="map_server" name="map_server_1" args="$(find ssr_stage)/maps/$(arg map_file1)" respawn="false" >
        <param name="frame_id" value="/map" />
        <remap from="map" to="/map1" />
    </node>

    <node pkg="map_server" type="map_server" name="map_server_2" args="$(find ssr_stage)/maps/$(arg map_file2)" respawn="false" >
        <param name="frame_id" value="/map" />
        <remap from="map" to="/map2" />
    </node>

    <node pkg="multi_robot_path_planner" type="launch_nav.py" name="navigation" output="screen" />

    <node pkg="autonomy_controller" type="Total_State_Machine.py" name="state_machine" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autonomy_controller)/multi_robot.rviz" />

    <!--<node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer" output="screen"/>-->
</launch>