<launch>

    <!-- Stage -->
    <arg name="stage_sim" default="multi_bot_obstacles" />

    <include file="$(find ssr_stage)/launch/$(arg stage_sim).launch"/>

    <include file="$(find multi_robot_path_planner)/launch/multi_bot_stage.launch" if="$(eval arg('stage_sim') == 'multi_bot_obstacles')">
        <arg name="stage_sim" default="multi_bot_obstacles.launch"/>
    </include>

    <include file="$(find multi_robot_path_planner)/launch/single_bot_stage.launch" if="$(eval arg('stage_sim') == 'single_bot_empty')">
        <arg name="stage_sim" default="single_bot_empty.launch"/>
    </include>

    <include file="$(find multi_robot_path_planner)/launch/single_bot_stage_gmapping.launch" if="$(eval arg('stage_sim') == 'single_bot_obstacles')">
        <arg name="stage_sim" default="single_bot_obstacles.launch"/>
    </include>

    <!-- Multi-robot Mapping -->
    <group if="$(eval arg('stage_sim') == 'multi_bot_obstacles')">
        <arg name="map_file1"    default="stage_no_holes.yaml" />
        <arg name="map_file2"    default="stage_obstacles.yaml" />

        <node pkg="map_server" type="map_server" name="map_server_1" args="$(find ssr_stage)/maps/$(arg map_file1)" respawn="false" >
            <param name="frame_id" value="/map" />
            <remap from="map" to="map1" />
        </node>

        <node pkg="map_server" type="map_server" name="map_server_2" args="$(find ssr_stage)/maps/$(arg map_file2)" respawn="false" >
            <param name="frame_id" value="/map" />
            <remap from="map" to="map2" />
        </node>
    </group>

    <!-- Single-robot Mapping -->
    <group if="$(eval arg('stage_sim') == 'single_bot_empty')">
        <arg name="map_file"    default="stage_empty.yaml" />

        <node pkg="map_server" type="map_server" name="map_server" args="$(find ssr_stage)/maps/$(arg map_file)" respawn="false" >
            <param name="frame_id" value="/map" />
        </node>
    </group>

    <node pkg="autonomy_controller" type="Total_State_Machine.py" name="state_machine" output="screen"/>

    <!--<node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer" output="screen"/>-->

</launch>